{
    "memory_limit": "128M",
    "server": {
        "http_port": "6600",
        "tcp_port": "6601",
        "ws_port": "6602"
    },
	"services": [
		{
			"name": "Budget Manager",
			"path": "ct-budget-manager:ct-budget-manager",
			"first_port": 8956,
			"max_instances": 3,
            "preheating": false
		},
		{
			"name": "Views Manager",
			"path": "ct-front:ct-front",
			"first_port": 8880,
			"max_instances": 1,
            "preheating": true
		}
	]
}
